.dark-theme{
  --para-clr:#fff;
  --bg-clr:#111b20;
  --card-clr:rgba(0,0,0,75%);
  --card-clr2:rgba(0,0,0,75%);
  --m6Container:#111b20;
  --toggle:#fff;
  transition: var(--bg-clr) var(--card-clr) var(--m6Container) var(--para-clr);
  transition-duration: 1.5s;
}
.light-theme{
  --para-clr:#111b20;
  --bg-clr:#fff;
  --card-clr:whitesmoke;
  --card-clr2:white;
  --m6Container:whitesmoke;
  --toggle:#111b20;
  transition: var(--bg-clr) var(--card-clr) var(--m6Container) var(--para-clr);
  transition-duration: 1.5s;
}

/* At first the margin of the elements should be at 0 */
* {
  margin: 0px;
  padding: 0px;
}
.body{
  background-color: var(--bg-clr);
}
/* Navigation designing area */
.hamburger-menu i{
  font-size:30px;
}
.hamburger-menu{
  display:none;
  position: absolute;
  top:25px;
  right:40px;
  width:fit-content;
}
.toggle-off
{
    display: flex;
    background-color:var(--bg-clr);
    position:sticky;
    top:0px;
    z-index:3;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgb(184, 173, 173);
    height:80px;
    max-height: 80px;
    transition: max-height 1s;
}
.toggle-on{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
    max-height: 500px;
}
nav{
  color:var(--para-clr);
}
nav .toggle{
  display:flex;
  list-style-type:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:0px;
}
nav h1{
    margin:10px 10px 10px 10px;
    height:fit-content;
    font-family:'Archivo Black', sans-serif;
    font-size:40px;
}
nav h1 i{
    margin-right: 10px;
    color: rgba(255, 46, 46, 75%);
}
nav h1 span{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    margin-left:10px;
}
nav ul{
    display:flex;
    list-style-type:none;
    align-items: center;
    margin-bottom:0px;
}
nav ul li{
    margin: 10px 50px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:larger;
    cursor:pointer;
    transition: color;
    transition-duration: 0.5s;
}
#last{
    margin-right:0px;
}
.search{
    display: flex;
    height: 50px;
    padding:20px;
    align-items: center;
}
#button{
    display: block;
    text-decoration:none;
    margin:0px;
    padding-left:35px;
    background-color: rgba(255, 46, 46, 100%);
    height: 44px;
    padding:0px 23px 0px 15px;
    border-radius:0px 30px 30px 0px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color:white;
    border:1px solid whitesmoke;
    cursor:pointer;
    transition: background-color;
    transition-duration: 0.5s;
}
.search input{
    height:40px;
    border-radius:30px 0px 0px 30px;
    margin-right:-3px;
    padding-left:30px;
    border:1px solid rgb(188, 183, 183);
    outline:none;
}
.search input:focus{
    border:1px solid whitesmoke;
    
}
.search i{
    margin:20px;
    font-size: 25px;
    cursor:pointer;
    color:var(--toggle);
}

/* Header designing area */
header{
  position:relative;
  top:0px;
  width:99vw;
  height:50vw;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/b1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 50vw;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

header div h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 65px;
    display: inline-block;
    max-width: 800px;
    width: 100%;
}
header div h2{
  font-family: 'Montserrat', sans-serif;
}
#firstdiv{
   margin-left:15%;
   width:max-content;
   margin-right:15%;
}
#back{
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: rgb(255, 46, 46);
  text-decoration: none;
  color: white;
  width:50px;
  height: 50px;
  border-radius: 40px;
  font-family: sans-serif;
  font-weight: bold;
  transition: box-shadow;
  transition-duration: 0.5s;
  margin-left:10px;
}
/* button is designed here */
.but {
  display: block;
  text-align: center;
  padding: 15px 40px 15px 40px;
  background-color: rgb(255, 46, 46);
  text-decoration: none;
  color: white;
  border-radius: 34px;
  font-family: sans-serif;
  font-weight: bold;
  min-width: 125px;
  width: fit-content;
  transition: box-shadow;
  transition-duration: 0.5s;
}

.but:hover {
  box-shadow: -2px 2px 10px rgb(44, 2, 2);
  color:white;
}

#discover {
  margin: 48px 8px 8px 8px;
}

/* Designing part */
.smalldes {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 3px;
  border-radius: 65% 35% 32% 68% / 62% 56% 44% 38%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smalldes i {
  font-size: 40px
}

#des1 {
  background-color: #6168ff;
  background: rgb(97 104 255 / 25%);
  color: rgb(97 104 255 / 100%);
}

#des2 {
  background-color: #ff4f81;
  background: rgb(255 79 129 / 25%);
  color: rgb(255 79 129 / 100%);
}

#des3 {
  background-color: #0abf53;
  background: rgb(10 191 83 / 24%);
  color: rgb(10 191 83 / 100%);
}

#des4 {
  background-color: #ff9933;
  background: rgb(255 153 51 / 26%);
  color: rgb(255 153 51 / 100%);
}

.fourProp {
  height: fit-content;
  margin: 20px 26px 55px 25px;
}

.props {
  line-height: 1.0;
  font-family: 'Archivo Black', serif;
  font-size: 20px;
}

.proppara {
  margin-top: 15px;
  max-width: 300px;
  line-height: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

/* Paws designing area */
.paws {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  transform: rotate(55deg);
}

.oneP {
  font-size: 11px;
  color: rgb(255 79 129 / 50%);
}

.twoP {
  font-size: 22px;
  color: rgb(255 79 129 / 75%);
}

.threeP {
  font-size: 33px;
  color: rgb(255 79 129 / 100%);
}

/* Styling area */
.mContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 3.75%;
  color:var(--para-clr);
}

.mmContainer {
  display: flex;
}

.properties {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-bottom: 5px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help h3 {
  margin: 8px;
  font-size: 44px;
  font-family: 'Archivo Black', serif;
  max-width: 573px;
  width: fit-content;
  color:var(--para-clr);
}

.help p {
  margin: 8px 18px 8px 8px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  line-height: 28px;
  box-sizing: border-box;
  max-width: 550px;
  width: fit-content;
}

.help ul {
  margin: 18px 8px 8px 8px;
  list-style-type: none;
  padding-left:0px;
}

.help ul a {
  display: block;
  text-decoration: none;
  width: fit-content;
  line-height: 35px;
  font-size: 16px;
  font-family: 'Archivo Black', serif;
  color: var(--para-clr);
  padding: 0px;
  transition: color;
  transition-duration: 0.5s;
}

.help ul a i {
  margin-right: 10px;
  color: rgb(255, 46, 46);
}

.afterPaw {
  margin-left: 25px;
}

/* Video designing area */
#videos {
  display: flex;
  height: auto;
  align-items: center;
  padding: 60px 60px 0px 60px;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 640px;
  max-height: 400px;
  width: 85vw;
  height: 60vw;
  background-image: url('./images/video.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#playBut {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 90px;
  max-height: 90px;
  width: 100vw;
  height: 60vw;
  background-color: white;
  border-radius: 50px;
}

#playBut i {
  font-size: 30px;
  color: rgb(255, 46, 46);
}



/* Dropdown designing part */
.faqs {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 25px;
}

.question {
  padding: 10px;
  height: fit-content;
  margin: 0px;
}

.question h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
  border: 0.5px solid rgba(194, 188, 188, 25%);
  padding: 10px 250px 10px 10px;
  margin-bottom: 0px;
}

#one {
  background-color: whitesmoke;
}

.p {
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  max-width: 800px;
  margin-bottom: 0px;
  border: 0.5px solid rgba(194, 188, 188, 25%);
}
.accordion{
  height: fit-content;
  margin-left:20px;
  margin-right:20px;
}


/* m3Container designing area */
#phone {
  display: inline-block;
  margin: 40px 0px 60px 7px;
  font-size: 45px;
  font-weight: bolder;
  transition: color;
  transition-duration: 0.5s;
}

#phone i {
  color: rgb(255, 46, 46);
  margin-right: 10px;
}

.m3Container {
  margin-top: 6%;
  align-items: center;
  justify-content: space-evenly;
}

/* m4Container designing area */
.m4Container {
  justify-content: space-evenly;
}

.facility {
  max-height: 500px;
  max-width: 400px;
  height: fit-content;
  width: fit-content;
  background-color: var(--card-clr);
  margin: 50px 0px 50px 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform;
  transition-duration: 0.5s;
}

.facility i {
  margin: 25px 25px 0px 25px;
  padding: 25px 25px 0px 25px;
  font-size: 50px;
  color: rgba(255, 46, 46, 75%);
}

.facility h4 {
  display: inline;
  width: fit-content;
  margin: 25px 25px 0px 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  transition: color;
  transition-duration: 0.5s;
}

.facility p {
  display: inline;
  margin: 0px 25px 25px 25px;
  padding: 5px 25px 25px 25px;
  font-family: 'Montserrat', sans-serif;
}

#fac2 {
  margin-left: 15px;
  margin-right: 15px;
}

/* m5Container desiging area */

#propss {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 50px 8px 50px 8px;
  gap: 25px;
}

.cards {
  padding: 25px 115px 25px 25px;
  border-radius: 12px;
  color: white;
  transition: transform box-shadow;
  transition-duration: 0.5s;
}

.cards h1 {
  font-family: 'Archivo Black', serif;
  font-size: 40px;
}

.cards h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 25px;
}

#card1 {
  background: #6168ff;
}

#card2 {
  background: #0abf53;
}

#card3 {
  background: #ff4f81;
}

#card4 {
  background: #ff9933;
}

.aboutus {
  display: flex;
  margin: 0px 25px 0px 80px;
  align-items: center;
  justify-content: center;
}

.aboutus img {
  width: 550px;
  height: 500px;
  margin-top: 75px;
  border-radius: 13px;
}

/* m6Container designing area */

.readMore {
  text-decoration: none;
  color: var(--para-clr);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  transition: color;
  transition-duration: 0.5s;
}

.readMore i {
  color: rgb(255 79 129 / 75%);
}

.readMore:hover {
  color: rgb(255 79 129 / 100%);
}

.m6Container {
  background-color: var(--m6Container);
  padding-bottom: 65px;
}

#help1 {
  padding-top: 25px;
}

.blogpost {
  display: flex;
  justify-content: space-evenly;
}

.blog {
  width: fit-content;
  height: fit-content;
  background-color:var(--card-clr2);
  color:var(--para-clr);
  border-radius: 9px;
  margin: 40px 25px 25px 25px;
  transition: box-shadow transform;
  transition-duration: 0.5s;
}

.blog h5 {
  padding: 30px 30px 0px 30px;
  font-family: 'Assistant', serif;
  font-size: large;
}

.backimage {
  height: 246px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  border-radius: 9px 9px 0px 0px;
}

#backimage1 {
  background-image: url(./images/blog1.jpg);
}

#backimage2 {
  background-image: url(./images/blog2.jpg);
}

#backimage3 {
  background-image: url(./images/blog3.jpg);
}

.bloginfo {
  display: flex;
  flex-direction: column;
  max-width: 370px;
}

.bloginfo h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  transition: color;
  transition-duration: 0.5s;
}

.h1 {
  margin: 30px;
}

.h22 {
  margin: 0px 30px 43px 30px;
}
.h222 {
  margin: 0px 30px 43px 30px;
}

.bloginfo div {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 30px 30px;
}



/* m7Container designing area */
#name {
  display: flex;
  align-items: center;
}

#testers {
  width: 70px;
  border-radius: 45px;
  margin: 20px 0px 0px 2px;
}

#testname {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
}

#testname p {
  margin: 0px;
}

#dotbut {
  margin-top: 25px;
  margin-left: 5px;
  color: #ff4f81;
}

#dotbut i {
  cursor: pointer;
}

.aboutus2 {
  display: flex;
  margin: 0px 25px 50px 80px;
  align-items: center;
  justify-content: center;
}

.aboutus2 img {
  width: 450px;
  height: 400px;
  margin-top: 75px;
  margin-left: 60px;
  border-radius: 13px;
}

/*Animation is controlled here*/

.blog:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  box-shadow: 4px 4px 20px black;
}

.features:hover {
  color: rgba(255, 46, 46, 75%);
}

#phone:hover {
  color: rgba(255, 46, 46, 75%);
  cursor: pointer;
}

.facility h4:hover {
  color: rgba(255, 46, 46, 75%);
  cursor: pointer;
}

.bloginfo h2:hover {
  color: rgba(255, 46, 46, 75%);
  cursor: pointer;
}

.facility:hover {
  transform: scale3d(1.25, 1.25, 1.25);
}
.fa-clock
{
  padding-right:7px;
}
.fa-circle{
  padding-right:5px;
}

/*Footer designing area*/
.container-footer {
  width:fit-content;
  height: fit-content;
  margin: 2rem;
  margin-top:10%;
  display: flex;
  justify-content: space-between;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ull {
  list-style: none;
  padding-left:0px;
  margin-left:0px;
  
}
.ull li a{
  
  width:fit-content;
  border-bottom:1px solid black;
  /* transition: border-bottom;
  transition-duration: 5s; */
}
.footer {
  background-color: #131917;
  padding: 0 0 0 0;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-coll {
  width: 25%;
  padding: 0 20px;
}
.footer-coll ul li{
  color:#bbbbbb; 
  font-weight:lighter;
}
#news{
  padding-top: 10px;
}
#copyright{
  margin-bottom: 0;
}
#copyright li{
  color:#bbbbbb; 
  font-weight:lighter; 
  font-size:smaller ; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center; 
  margin-bottom: 0;
}
.footer-coll h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-coll h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-coll ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-coll ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.5s;
}
.footer-coll ul li a:hover {
  color: #ffffff;
  border-bottom: 1px solid red;
}
.footer-coll .social-links a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-coll .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.searches{
  width:70%;
}
.searches button{
  height:2.59rem;
   width: 3.5rem;
}
.searchButton{
  background-color: red;
  color:white;
  margin:5px 0px 10px 0px;
}
.searchButton:hover{
  background-color: orange;
}
.searchButton span{
  font-size:larger;
}
.searchTerm{
  padding: 0.5rem 0.8rem;
  width:80%;
}
nav ul li:hover{
  color:rgba(255, 46, 46,75%);
}

.search #button:hover{
  background-color: rgba(232, 154, 21,1);
}
.hamburger-menu:hover{
  display:inline;
  color:rgba(255, 46, 46,75%);
  cursor:pointer;
}
.search-on{
  display: flex;
  margin-bottom: 20px;
  width: 80vw;
}
/* Responsive control codes */
@media (max-width:1455px) {
  .aboutus {
    margin: 25px;
  }

  .aboutus img {
    width: 35vw;
    height: 32vw;
  }

  .cards {
    padding: 15px;
  }

  .items{
    display:none;
  }
  #search{
    width:100%;
  }
  #button{
    width:25%;
  }
  .hamburger-menu{
    display: inline;
  }
  .search-off{
    display: none;
}
}

@media (max-width:1260px) {
  .m4Container {
    flex-wrap: wrap;
  }
  .facility:hover {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  .blogpost {
    flex-wrap: wrap;
  }
  header{
    background-size: 100% 75vw;
    height: 75vw;
  }
}

@media (max-width:1000px) {
  .aboutus2 {
    margin: 10px;
  }
  .aboutus2 img {
    margin: 10px;
  }
  .container-footer {
    flex-wrap: wrap;
  }
  .mmContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .help {
    margin-bottom: 50px;
    margin-left: 20px;
    width: 85%;
  }

  .afterPaw {
    margin-left: 0px;
  }

  .afterPaw h3 {
    max-width: max-content;
    font-size: 35px;
  }

  .afterPaw p {
    max-width: max-content;
  }

  .m2Container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .m2Container .help {
    margin-top: 20px;
  }

  .m3Container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .row1{
    background-color: green;
    justify-content: center;
    flex-wrap: wrap;
  }
  
}

@media (max-width:908px) {
  #discover {
    margin: 0px;
    margin-top: 48px;
  }
  header #discover{
    margin-top:10px;
  }
}

@media (max-width:895px) {
  .m5Container {
    flex-wrap: wrap;
  }

  .m7Container {
    flex-wrap: wrap;
  }

  .aboutus img {
    margin-top: 0px;
    width: 60vw;
    height: 60vw;
  }

  .aboutus2 img {
    margin-top: 0px;
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width:810px) {
  #propss {
    grid-template-columns: 1fr;
  }
}

@media (max-width:800px) {
  .question h5 {
    padding: 10px;
  }
}

@media (max-width:750px) {
  .footer-coll {
    width: 50%;
    margin-bottom: 30px;
  }
  #videos {
    padding: 0px;
  }
  #firstdiv h1{
    font-size: 100%;
    margin:0px;
  }
  #firstdiv{
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width:519px) {

  #button{
    font-size:3vw;
    padding-right:9vh;
  }
  .footer-coll {
    width: 100%;
  }
  .fourProp {
    margin: 20px;
    margin-bottom: 10px;
  }

  .facility {
    margin-left: 10px;
    margin-right: 10px;
    max-height: fit-content;
  }

  .cards h1 {
    font-size: 25px;
    padding: 0px;
  }

  .cards h2 {
    font-size: 15px;
  }

  .properties {
    grid-template-columns: 1fr;
  }

  #phone {
    font-size: 25px;
    font-weight: bolder;
  }
  nav h1{
    position:relative;
    font-size: 25px;
    left:-15px;
    top:10px;
    margin-bottom:25px;
}
}

@media (max-width:350px) {
  .readMore {
    margin-bottom: 5px;
  }
  .bloginfo div {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav h1{
    position:relative;
    font-size: 25px;
    left:-15px;
    top:10px;
    margin-bottom:25px;
}
.hamburger-menu{
  top:30px;
  right:10px;
}
  #button{
    font-size:10px;
    padding-right:50px;
  }
}

@media(max-width:300px) {
  .question {
    padding: 0px;
  }

  .question h5 {
    font-size: 18px;
  }
  nav h1{
    font-size: 25px;
  }
  .hamburger-menu i{
    font-size: 20px;
  }
}